

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

p {
    color:hsl(229, 6%, 66%) ;
    font-weight:200 ;
    font-family:Poppins ;
}


html{
    font-size: 15px;
    font-family: Poppins;
}


h1{
    color:hsl(229, 6%, 66%) ;
    font-family:Poppins ;
    font-weight:400 ;
    
}
h2{
    
    
    font-family:Poppins ;
    font-weight:600 ;
    font-size: 32px;
}

body {
   
    background-color: hsl(0, 0%, 98%);
    margin-right:auto;
    margin-left:auto;
    margin-top: 5%;
    margin-bottom: 5%;

    max-width:1440px;
    width:100%;
    justify-content: center;
    
    
}

.mainContainer {
    width: 75%;
    margin:auto;
    justify-content: center;
    
    
}

.mainBlock{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30%;
   
   
    
}

.heading {

  line-height:0.4rem ;
  text-align:justify;
  text-justify:distribute-all-lines;
  justify-items: center;  
  margin:auto;
  padding-bottom: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

}


.mainText{
    
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    
}
.motto{
    text-align:center;
    justify-items: center;
    width: 50%;
    margin:auto;
}
.grid-container{
    width:58rem;
    height:30rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
    margin:auto;
    padding-top: 2%;
    padding-bottom: 2%;

    justify-content:center ;  
   
  
    
}

.blockTitle{
    font-family:Poppins ;
    font-weight:600;
    
}

.firstBlock{   
    border-top-style: outset;
    border-top-color: hsl(180, 57%, 30%) ;
    background-color:hsl(0, 0%, 98%) ;
    border-radius:0.2rem ;
    box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:1rem ;
    font-family:Poppins ;
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:4 ;  
    

}

.secondBlock{
    
    border-top-style: outset;
    border-top-color:hsl(0, 78%, 62%) ;
    background-color:hsl(0, 0%, 98%) ;
    border-radius:0.2rem ;
    box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:1rem ;
    grid-column-start:3 ;
    grid-column-end: 5;
    grid-row-start:1 ;
    grid-row-end:3 ;
    font-family:Poppins ;
    
    
}
.thirdBlock{
    
    border-top-style: outset;
    border-top-color:hsl(34, 97%, 64%) ;
    background-color:hsl(0, 0%, 98%) ;
    border-radius:0.2rem ;
    box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:1rem ;
    grid-column-start:3 ;
    grid-column-end: 5;
    grid-row-start:3 ;
    grid-row-end:5 ;
    font-family:Poppins ;
    
    
    
}
.fourthBlock{
    
    border-top-style: outset;
    border-top-color:hsl(212, 86%, 64%) ;
    background-color:hsl(0, 0%, 98%);
    border-radius:0.2rem ;
    box-shadow: 0.1rem 0.5rem 0.5rem  hsl(229, 6%, 66%);
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:1rem ;
    grid-column-start:5 ;
    grid-column-end: 7;
    grid-row-start:2 ;
    grid-row-end:4 ;
    font-family:Poppins ;
    
    
}
img{
    width:2.3rem;
    height:2.3rem;
    margin-top: 2rem;
    float:right;

}


@media screen and (max-width:820px) {
    body {
   
        background-color: hsl(0, 0%, 98%);
        margin-right:4%;
        margin-left:3%;
        margin-top: 5%;
        margin-bottom: 5%;
        max-width:1440px;
        width:100%;
        justify-content: center;
        
        
    }

    .grid-container{
        width:52rem;
        height:30rem;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        margin:auto;
        padding-top: 2%;
        padding-bottom: 2%;
    
        justify-content:center ;  
       
      
        
    }
    
}



@media screen and (max-width:540px){

    h1{
        color:hsl(229, 6%, 66%) ;
        font-family:Poppins ;
        font-weight:400 ;
        font-size: 20px;
        
    }
    h2{
        
        
        font-family:Poppins ;
        font-weight:600 ;
        font-size: 21px;
    }
    
    body {
        width: 100%;
        background-color: hsl(0, 0%, 98%);
        
        justify-content: center;
        
    }
    
    .mainContainer {
        width: 100%;
        margin:auto;
        justify-content: center;
        
        
    
    }

    .mainBlock{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30%;
       
       
        
    }
    
    .heading {
    
      line-height:0.4rem ;
      text-align:justify;
      text-justify:distribute-all-lines;
      
      justify-items: center;  
     margin:auto;
      padding-bottom: 0.5rem;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    
    }
    
    
    .mainText{
        
        text-align:center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        
        
    }
    .motto{
        text-align:justify;
        justify-items: center;
        width: 15rem;
        height:3rem;

        margin:auto;
        padding-bottom: 0.3rem;
        font-size:14px;
    }



    .grid-container{
        display: grid;
        grid-template-columns:16rem;
        grid-template-rows: 13rem 13rem 13rem 13rem ;
        width:20rem;
        height:56rem;
        row-gap: 1rem;
        justify-content:center;
        margin:auto;
        padding-top: 2%;
        padding-bottom: 2%;
        
        
        
       
        
    }


    

    .firstBlock{
        
        border-top-style: outset;
        border-top-color: hsl(180, 62%, 55%) ;
        background-color:hsl(0, 0%, 98%) ;
        border-radius:0.2rem ;
        box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-column-start:1 ;
        grid-column-end: 2;
        grid-row-start:1 ;
        grid-row-end:2;
          
    
    }
    
    .secondBlock{
        
        border-top-style: outset;
        border-top-color:hsl(0, 78%, 62%) ;
        background-color:hsl(0, 0%, 98%) ;
        border-radius:0.2rem ;
        box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-column-start:1 ;
        grid-column-end: 2;
        grid-row-start:2 ;
        grid-row-end:3 ;
        
        
        
    }
    .thirdBlock{
        
        border-top-style: outset;
        border-top-color:hsl(34, 97%, 64%) ;
        background-color:hsl(0, 0%, 98%) ;
        border-radius:0.2rem ;
        box-shadow: 0.1rem 0.5rem 0.5rem hsl(229, 6%, 66%);
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-column-start:1 ;
        grid-column-end: 2;
        grid-row-start:3 ;
        grid-row-end:4 ;
        
        
        
    }
    .fourthBlock{
        
        border-top-style: outset;
        border-top-color:hsl(212, 86%, 64%) ;
        background-color:hsl(0, 0%, 98%);
        border-radius:0.2rem ;
        box-shadow: 0.1rem 0.5rem 0.5rem  hsl(229, 6%, 66%);
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-column-start:1 ;
        grid-column-end: 2;
        grid-row-start:4 ;
        grid-row-end:5 ;
        
        
    
}

}